* {
  box-sizing: border-box;
}

html {
  font-family: 'Poppins' sans-serif;
}

body {
  margin: 0;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  object-fit: cover;
}

figure {
  padding: 0;
  margin: 0;
}

#photo-main,
#photo-pizza-main,
#photo-salade-main,
#photo-pasta-main,
#photo-dessert-main {
  background-image: url('../../logic/images/restaurent/restaurant.jpg');
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: color;
  padding-top: 93px;
  display: flex;
  flex-direction: column;
  animation: moveBackground 50s linear infinite;
}
@keyframes moveBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}
